.symptomActive {
    // border: 6px solid green !important;
    background-color: rgb(54, 226, 11) !important;
    // box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
   
}

.modal-content {
    border: 0;
    justify-content: center;
    background-color: transparent;
    width: 20px;
    margin: auto
}