.nav-link {
    font-size: 1.8rem;
    margin: -3px -3px;
    font-weight: 500;
    line-height: 1em;
    margin-right: 1.2rem;
    

}

.navbar-nav {
    font-size: 4ch;
    font-weight: 100;
    // align-items: left;
    padding-right: 1ch;
  
  }
  
  .container {
    margin-left: 2ch;
  }
  .item {
    padding-left: 6ch;
  }
  

// .navbar-nav : {
//   color: green;
// }

// .navbar-nav>.active>a {
//   background-color: green;
//   color: green;
// }

// .navbar-nav :link {
//   color: black;
// }

// .nav-link {
//   &:hover {
//     color: darken(#4FB872, 6%) !important;
//   }
//   &.active {
//     color: lighten(#4FB872, 5%) ;
//   }
//   // display: ;
  
//   // background-color: green;
//   // text-decoration-color: green;
// }

// .navbar-nav > .active > .NavLink { 
//   background-color: #4FB872 ; 
// }

// a {
//   color: green;
// }

// a:visited {
//   color: green;
// }

// .nav-link:active {
//    color: '#4FB872';
// }